* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    height: 100vh;
}

textarea {
    resize: none;
    border: 0;
}

#title-bar {
    width: 100%;
    flex: 0 0 50px;
}

#code {
    outline: none;
    padding: 10px;
    line-height: 30px;
}

#line-container-outer {
    flex: 0 0 50px;
}

#line-container {
    height: 0;
    min-height: 100%;
    padding: 10px 0 20px 0;
    overflow: hidden;
}

#status-bar {
    flex: 0 0 25px;
    line-height: 25px;
}

#action-bar {
    flex: 0 0 65px;
    border-right: 2px solid #404040;
}

.select {
    -webkit-touch-callout: inherit;
    -webkit-user-select: auto;
    -khtml-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
}

.panel-title-text {
    line-height: 40px;
    font-family: arial;
    color: #D4D4D4;
    font-size: 15px;
    letter-spacing: 1px;
    margin: 0 20px 0 20px;
}

.panel-title {
    flex: 0 0 40px;
    cursor: pointer;
    border-left: 2px solid #0078CE;
    border-bottom: 1px solid #404040;
}

.padded {
    padding: 15px;
}

.full-h-panel {
    min-width: 100%;
    max-width: 0;
    overflow-y: scroll;
    word-break: break-all;
}

.trans {
    transition: 0.75s;
}

.run-action {
    display: none;
}

.debug-action {
    display: none;
}

.action-icon-container {
    align-self: flex-start;
    width: 100%;
    text-align: center;
    padding: 15px 0 15px 0;
    cursor: pointer;
    transition: 0.2s;
    border-left: 2px solid transparent;
}

.icon-container-blue:hover {
    border-left: 2px solid #0078CE;
}

.icon-container-red:hover {
    border-left: 2px solid #FF3843;
}

.action-icon {
    height: 35px;
}

.icon-blue {
    filter: invert(30%) sepia(80%) saturate(2826%) hue-rotate(188deg)
            brightness(91%) contrast(101%);
}

.icon-red {
    filter: invert(30%) sepia(81%) saturate(3191%) hue-rotate(339deg)
            brightness(111%) contrast(104%);
}

.action-icon-container:hover .icon-blue {
    filter: invert(56%) sepia(75%) saturate(2228%) hue-rotate(175deg)
            brightness(101%) contrast(87%);
}

.action-icon-container:hover .icon-red {
    filter: invert(58%) sepia(71%) saturate(5113%) hue-rotate(326deg)
            brightness(107%) contrast(100%);
}

.title-bar-item {
    margin: 0 50px 0 50px;
}

.ide-name {
    color: #0078CE;
    font-family: Courier;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: 5px;
}

.ide-text {
    color: #D4D4D4;
    font-family: Courier;
    font-size: 30px;
    line-height: 50px;
}

.bar-left {
    text-align: left;
}

.bar-right {
    text-align: right;
}

.font-mono {
    font-family: monospace;
}

.outer-half {
    width: 0;
    min-width: 50vw;
}

.line-no {
    height: 30px;
    width: 100%;
    text-align: right;
}

.line-no-inner {
    color: #AAA;
    font-size: 20px;
    line-height: 30px;
    margin: 0 7px 0 7px;
    cursor: default;
}

.code-font {
    color: #D4D4D4;
    font-size: 20px;
}

.info-font {
    color: #FFF;
    font-family: arial;
    font-size: 15px;
    letter-spacing: 1px;
}

.output-base {
    font-size: 20px;
    margin: 5px 0 5px 0;
    font-family: Courier;
}

.light-blue {
    background-color: #0078CE;
}

.light-gray {
    background-color: #444;
}

.gray {
    background-color: #353535;
}

.dense-gray {
    background-color: #252525;;
}

.dark-gray {
    background-color: #1E1E1E;
}

.dark-border {
    border-right: 1px solid #404040;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
}

.vert-flex {
    flex-direction: column;
}

.half-v {
    height: 50%;
}

.flex-item {
    flex: 1 1 0;
}

.status-item {
    padding: 0 20px 0 20px;
}
