html, body {
    margin: 0;
    height: 100%;
}

textarea {
    resize: none;
    max-width: 100%;
    border: 0;
}

#action-bar {
    width: 100%;
    height: 50px;
    background-color: #333;
}

#frame {
    height: 100%;
}

#code {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    outline: none;
    padding: 10px;
}

.code-font {
    color: #D4D4D4;
    font-size: 1.5em;
}

.code-area {
    width: 0;
}

.light-gray {
    background-color: #333;
}

.gray {
    background-color: #F00;
}

.dark-gray {
    background-color: #1E1E1E;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
}

.container-item {
    flex-grow: 1;
    padding: 0;
}
